# Ignore the local virtual environment
venv/

# Ignore test files and local configs
tests/
.env
__pycache__/
*.pyc

# Ignore Git files
.git
.gitignore

# Ignore monitoring configs
prometheus/
grafana-provisioning/

# Ignore CI/CD and locust reports
.github/
locust_report/
